<div class="site-header">
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fas fa-bars"></i>
      </a>
      <a class="menu-icon" href="/"><img src="../img/caixapreta-logo_novo_preto_vazado.png" alt="logo" width="90px" style=""/></a>
      <div class="trigger">
        <a class="page-link" href="/"><img src="../img/caixapreta-logo_novo_preto_vazado.png" alt="logo" width="90px" style=""/></a>
        <a class="page-link" href="https://feeds.buzzsprout.com/172849.rss" target="_blank"><i class="fas fa-rss fa-lg"></i></a>
          <a class="page-link" href="https://twitter.com/caixapretacast" target="_blank"><i class="fab fa-twitter fa-lg"></i> </a>
          <a class="page-link" href="https://www.facebook.com/groups/caixapretacast/" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>

          <a class="page-link" href="{{ site.baseurl }}/">Home</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

          <div style="margin: 20px 0">


          <a class="page-link" href="https://open.spotify.com/show/3KQDuaRt7CitHdJbtqxMW1" target="_blank">
          <img src="../img/badges/spotify-podcast-badge-wht-grn-165x40.svg"/>
          </a>
          <a class="page-link" href="https://podcasts.google.com/?feed=aHR0cHM6Ly93d3cudm9sdGRhdGEuaW5mby9jYWl4YXByZXRhZmVlZC8_Zm9ybWF0PXJzcw" target="_blank">
          <img src="../img/badges/google_podcasts_badge_svg.svg"/>
          </a>
          <a class="page-link" href="https://podcasts.apple.com/br/podcast/caixa-preta/id1375404291?l=en&mt=2" target="_blank">
          <img src="../img/badges/US_UK_Apple_Podcasts_Listen_Badge_RGB.svg"/>
          </a>
          <a class="page-link" href="http://bit.ly/twitter-pocketcasts" target="_blank">
          <img src="../img/badges/pocketcasts_medium_dark.svg"/>
          </a>




          </div>


      </div>
    </nav>


</div>
