---
layout: default
---
<div class="post">

  <header class="post-header">
<style>
  .icones{
  line-height: 2em
  }
  .icones a{
  color: #386cb0 !important;
  padding: 5px;
  border: 0px solid #386cb0;
  border-radius: 5px;
  }
  .icones a:hover{
  color: #f0027f !important
  }
  a svg:hover #stich{
  fill: #f0027f
  }

</style>

     <h1 class="post-title">{{ page.title }}</h1>
     <p class="post-meta">Arquivado em {{ page.date | date: "%d/%m de %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">

    {{ page.embed }} <br /><br />

    {{ page.description }} <br /><br />

    {{ content }}
<br />
    <hr />
<br />
    <div class="icones" style="text-align:center">
      <h3>Ouça no seu tocador de preferência.</h3>

    <a id="stichdois" href="https://www.stitcher.com/podcast/voltdatalab/caixa-preta-2" target="_blank"><svg viewBox="0 0 16 3" width="25px" height="35" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path id="stich" fill="#386cb0" d="M11.987 4.625h-.24v6.75h.24v-6.75zm-.497.75h-.24v5.25h.24v-5.25zm-.744 0H0v5.25h10.746v-5.25zm5.254 0h-3.005v5.25H16v-5.25zm-3.504 0h-.24v5.25h.24v-5.25z"></path></svg> <small><em>Stitcher</em></small></a>
    <a href="https://open.spotify.com/show/3KQDuaRt7CitHdJbtqxMW1?si=9RF5Lw4dR-SsN7TbaK19Cw"><i class="fab fa-spotify fa-lg"></i> <small>Spotify</small></a>
    <a href="https://itunes.apple.com/br/podcast/caixa-preta/id1375404291?l=en&amp;mt=2" target="_blank"><i class="fab fa-itunes fa-lg"></i> <small><em>Itunes</em></small> <br />
    <a href="https://overcast.fm/itunes1375404291/caixa-preta" target="_blank"><small><em>Overcast</em></small></a>
    <a href="https://pca.st/OCRC" target="_blank"><small><em>Pocket Casts</em></small></a> <a href="https://castbox.fm/app/castbox/player/id1241935?v=4.0.11" target="_blank"><small><em>CastBox</em></small></a>
    <a href="https://podtail.com/podcast/caixa-preta/" target="_blank"><small><em>Podtail</em></small></a>

    <br /> <br />
  </article>

  <div align="center">
  	<a href="#">
  	<i class="fa fa-arrow-circle-up fa-2x"></i>
  	</a>
  </div>

</div>
